@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

[class*=icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=icon-]:before {
  display: block;
}

.icon-arrow-left:before {
  content: "\e900";
}

.icon-arrow-right:before {
  content: "\e901";
}

.icon-box:before {
  content: "\e902";
}

.icon-discount:before {
  content: "\e903";
}

.icon-help:before {
  content: "\e904";
}

.icon-item-arrow:before {
  content: "\e905";
}

.icon-key:before {
  content: "\e906";
}

.icon-search:before {
  content: "\e907";
}

.icon-user:before {
  content: "\e908";
}

.icon-wallet:before {
  content: "\e909";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #292D32;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: rgb(250, 251, 255);
  font-weight: 500;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 90rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.dashboard {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard__sidebar {
  padding: 2.25rem 1.75rem 4.875rem;
}

.dashboard__body {
  padding: 2.5625rem 5.9375rem 4.75rem 4.4375rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
}

@supports (row-gap: clamp( 1.3125rem , -0.8303571429rem  +  4.4642857143vw , 3.1875rem )) {
  .dashboard__body {
    row-gap: clamp( 1.3125rem , -0.8303571429rem  +  4.4642857143vw , 3.1875rem );
  }
}

@supports not (row-gap: clamp( 1.3125rem , -0.8303571429rem  +  4.4642857143vw , 3.1875rem )) {
  .dashboard__body {
    row-gap: calc(1.3125rem + 1.875 * (100vw - 48rem) / 42);
  }
}

.dashboard__body::-webkit-scrollbar {
  width: 0.5rem;
  /* ширина всей полосы прокрутки */
}

.dashboard__body::-webkit-scrollbar-track {
  background: #B5B7C0;
  /* цвет зоны отслеживания */
}

.dashboard__body::-webkit-scrollbar-thumb {
  background-color: #5932EA;
  /* цвет бегунка */
  border-radius: 0.625rem;
  /* округлось бегунка */
  /* отступ вокруг бегунка */
}

.dashboard__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard__content {
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
          box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 1.875rem;
}

.dashboard__title {
  font-size: 1.5rem;
  line-height: 1.5;
}

.sidebar {
  max-width: 19.125rem;
  width: 100%;
  background-color: #ffffff;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.sidebar__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.sidebar__wrap:not(:last-child) {
  margin-bottom: 3.3125rem;
}

.sidebar__logo {
  width: 12.1875rem;
  height: 2.4375rem;
  overflow: hidden;
}

.sidebar__logo:not(:last-child) {
  margin-right: 0.25rem;
}

.sidebar__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar__version {
  color: #838383;
  font-size: 0.625rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin-bottom: 0.3125rem;
}

.sidebar__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.125rem;
}

.sidebar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6875rem 0.5rem 0.6875rem 0.6875rem;
  border-radius: 0.5rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #9197B3;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.sidebar__item span {
  font-size: 1.375rem;
  margin-right: 0.875rem;
}

.sidebar__item .icon-item-arrow {
  font-size: 0.625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0;
}

.sidebar__item--active {
  color: #ffffff;
  background-color: #5932EA;
}

.sidebar__link {
  max-width: 11.5625rem;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sidebar__manager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.sidebar__avatar {
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__avatar-name {
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #000000;
}

.sidebar__avatar-position {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #757575;
}

.content {
  padding: 1.875rem 2.75rem 2.5rem 2.375rem;
  position: relative;
}

.content::after {
  content: "";
  position: absolute;
  top: 22%;
  left: 0;
  right: 0;
  height: 0.0625rem;
  width: 100%;
  background-color: #eeeeee;
}

.content__header:not(:last-child) {
  margin-bottom: 2.5rem;
}

@supports (margin-bottom: clamp( 1.25rem , -0.8369565217rem  +  4.347826087vw , 2.5rem )) {
  .content__header:not(:last-child) {
    margin-bottom: clamp( 1.25rem , -0.8369565217rem  +  4.347826087vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.8369565217rem  +  4.347826087vw , 2.5rem )) {
  .content__header:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 48rem) / 28.75);
  }
}

.content__footer {
  margin-top: 2rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.4375rem;
}

.header__title {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.header__subtitle {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #16C098;
}

.header__search {
  max-width: 13.5rem;
  width: 100%;
  border-radius: 0.625rem;
  background-color: #F9FBFF;
  padding: 0.5625rem 0.625rem 0.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.5625rem;
}

.header__btn {
  color: #7E7E7E;
  font-size: 1.25rem;
  margin-right: 0.625rem;
}

.header__input {
  width: 100%;
  background-color: transparent;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #7E7E7E;
}

.header__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}

.header__input::-moz-placeholder {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}

.header__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}

.header__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}

.header__input::placeholder {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}

.header__input:focus {
  outline: none;
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.table__head {
  position: relative;
  color: #B5B7C0;
  font-weight: 500;
}

.table__row {
  border-bottom: 1px solid #eeeeee;
}

.table__col {
  padding: 1.25rem 0.625rem;
}

.table__status {
  display: block;
  padding: 0.25rem;
  max-width: 5rem;
  width: 100%;
  border-radius: 0.25rem;
  text-align: center;
}

.table__status--active {
  color: #008767;
  border: 1px solid #008767;
  background-color: rgba(0, 135, 103, 0.38);
}

.table__status--inactive {
  color: #DF0404;
  border: 1px solid #DF0404;
  background-color: rgba(223, 4, 4, 0.38);
}

.table td,
.table th {
  overflow: hidden;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}

.footer__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
  font-size: 0.75rem;
}

.footer__btn {
  width: 1.5625rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  background-color: #F5F5F5;
  border: 1px solid #eeeeee;
  font-size: 0.75rem;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #404B52;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.footer__btn--active {
  background-color: #5932EA;
  color: #ffffff;
  border: none;
}

.menu {
  display: none;
  z-index: 10;
}

.menu__burger {
  position: relative;
  width: 1.5rem;
  height: 1.125rem;
}

.menu__burger::before,
.menu__burger::after,
.menu__burger span {
  content: "";
  position: absolute;
  height: 0.125rem;
  width: 100%;
  background-color: #292D32;
  border-radius: 0.125rem;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.menu__burger span {
  top: 0.3125rem;
}

.menu__burger::after {
  top: 0.625rem;
}

.menu__burger--active span {
  width: 0;
}

.menu__burger--active::before {
  top: 0.3125rem;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__burger--active::after {
  top: 0.3125rem;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 63.99875em) {
  .table__head tr {
    border-bottom: none;
  }
}

@media (max-width: 76.74875em) {
  .dashboard__body {
    padding: 1.3125rem 1.875rem;
  }

  .sidebar {
    max-width: 16.875rem;
  }

  .sidebar {
    padding: 1.3125rem 1.25rem 2.375rem;
  }

  .sidebar__link {
    max-width: 10rem;
  }

  .content {
    padding: 1.25rem 1.25rem 1.875rem;
  }

  .content::after {
    top: 24%;
  }

  .table__col {
    padding: 0.625rem;
  }

  .table {
    font-size: 0.75rem;
  }
}

@media (max-width: 63.99875em) {
  .sidebar {
    position: fixed;
    left: -100%;
    z-index: 5;
    -webkit-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }

  .sidebar--active {
    left: 0;
    -webkit-box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
            box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  }

  .content::after {
    display: none;
  }

  .content__wrap {
    overflow-x: auto;
  }

  .content__wrap::-webkit-scrollbar {
    width: 0;
    /* ширина всей полосы прокрутки */
  }

  .menu {
    display: block;
  }
}

@media (max-width: 61.99875em) {
  .table__row {
    border: none;
  }

  .table__col {
    padding: 0.9375rem 1.25rem;
  }

  .table__status {
    margin: 0 auto;
  }

  .table {
    display: block;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.25rem;
  }

  .table thead,
  .table tbody,
  .table th {
    display: block;
  }

  .table tbody,
  .table tr {
    display: table-cell;
    text-align: center;
  }

  .table tbody:not(:last-child),
  .table tr:not(:last-child) {
    margin-right: 0.9375rem;
    border-right: 1px solid #eeeeee;
  }

  .table td {
    display: block;
    overflow-x: hidden;
  }

  .table td,
  .table th {
    width: 15.625rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    padding: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }

  .footer__pagination {
    -webkit-column-gap: 0.3125rem;
       -moz-column-gap: 0.3125rem;
            column-gap: 0.3125rem;
  }
}

@media (any-hover: hover) {
  .sidebar__item:not(.sidebar__item--active):hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #B5B7C0;
  }

  .table__col a:hover {
    text-decoration: underline;
  }

  .footer__btn:not(.footer__btn--active):hover {
    background-color: #B5B7C0;
  }

  .menu:hover {
    cursor: pointer;
  }
}